<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Image Transform</title>
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	 <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	 <style>
	 	input[type="file"] {
			 font-size: 1rem;
		 }
	 </style>
  </head>
  <body>
	<section class="section">
		<h1 class="title">Pixel-Art-Scaler</h1>

		{{if ne .ErrorMessage ""}}
		<div class="notification is-danger is-light">
			{{.ErrorMessage}}
		</div>
		{{end}}

		<p>PNG, Max. 500kb</p>
		<form enctype="multipart/form-data" action="/upload" method="post" >
			<div class="field">
				<input type="file" name="myFile" required />
			</div>
			<div class="field">
				<div class="select">
					<select name="scalingIterationCount">
						<option value="1" selected>Apply once</option>
						<option value="2">Apply twice</option>
						<option value="3">Apply thrice</option>
					</select>
				</div>
			</div>
			<div class="field">
				<button class="button is-info" type="submit">Scale!</button>
			</div>
		</form>
	 </section>
  </body>
</html>