<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Image Transform</title>
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	 <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	 <style>
	 	input[type="file"] {
			 font-size: 1rem;
		 }
	 </style>
  </head>
  <body>
	<section class="section" style="max-width: 500px;">
		<h1 class="title">Pixel-Art-Scaler</h1>

		{{if ne .ErrorMessage ""}}
		<div class="notification is-danger is-light">
			{{.ErrorMessage}}
		</div>
		{{end}}

		<p>PNG, Max. 500kb</p>
		<form enctype="multipart/form-data" action="/upload" method="post" >
			<div class="field">
				<input type="file" name="myFile" required />
			</div>
			<div class="field">
				<label class="label">Type of scaling</label>
				<div class="select">
					<select name="scalingType">
						<option value="basic">Basic Interpolation</option>
						<option value="randombasic">Basic Interpolation Randomized</option>
						<option selected value="randombasicanim">Randomized & Animated</option>
						<option value="nn">Nearest Neighbor</option>
						<option value="nnthenbasic">Nearest Neighbor, then Basic</option>
						<option value="null">Pass-thru (no effect)</option>
					</select>
				</div>
			</div>
			<div class="field">
				<label class="label">Iterations 1-10</label>
				<div class="control">
					<input
						class="input"
						min="1"
						max="10"
						placeholder="Iterations"
						value="1"
						type="number"
						name="scalingIterationCount">
				</div>
			</div>
			<div class="field">
				<label class="label">Delay between frames (for animations)</label>
				<div class="control">
					<input
						class="input"
						min="1"
						max="1000"
						placeholder="Delay"
						value="10"
						type="number"
						name="frameDelay">
				</div>
			</div>
			<div class="field">
				<label class="label">Frame Count (for animations)</label>
				<div class="control">
					<input
						class="input"
						min="1"
						max="30"
						placeholder="Frame Count"
						value="5"
						type="number"
						name="frameCount">
				</div>
			</div>
			<div class="field">
				<button class="button is-info" type="submit">Scale!</button>
			</div>
		</form>
	 </section>
  </body>
</html>